.row{
    list-style-type: none !important;
}
.carousel slide carousel-fade{
    padding: 5px;
}
h1{
  text-align: center;
  padding-top: 30px;
}
.p1{
    text-align: center;
    padding-top: 30px;
}
.h2{
    padding-top: 100px;
    padding-left: 20px;
}
.box1{
    background-color: aqua;
    
}
form{
    padding: 60px;
}
.box1{
width: 1000px;
background-color: aqua;
padding: 5px;
opacity: .5;
}
